.button {
    border: none;
    border-radius: var(--main-border-radius);
    padding: 0.65rem;
    background-image: var(--gradient);
    color: var(--main-text-color);
    font-weight: 700;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: initial;
    min-width: 100px;
    height: 38px;
}

.button:hover {
    color: var(--main-text-color);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.location-button {
    background: none;
    color: #fff;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
}

.location-button:hover {
    background: none;
    transform: scale(0.95);
}

.location-button:focus {
    background: none;
    border: none;
    box-shadow: none;
}

.grey-btn {
    background-image: var(--grey-gradient);
    color: var(--main-text-color);
}

.note {
    font-size: 12px;
}

.form-title {
    color: var(--blue-color);
}

.form-select:focus {
    border-color: var(--blue-color);
    box-shadow: 0 0 0 0.25rem rgb(34 221 255 / 50%);
}