.toplist .accordion {
    margin-top: 3rem !important;
    margin-bottom: 4rem !important;
}

.toplist .accordion-body {
    padding: 0.5rem 0 1rem 1.25rem;
}

.toplist .accordion-button {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    min-width: 478px;
    background-color: unset;
    color: var(--blue-color);
}

.toplist .accordion-button::after {
    content: none;
}

.toplist .accordion-button:focus {
    box-shadow: unset;
    border-color: unset;
}

.toplist .accordion-button:not(.collapsed) {
    border-bottom: 1px solid #fff;
}

.toplist .list-group-flush>.list-group-item {
    border-color: white;
}

.toplist .accordion-button:hover,
.toplist a:hover {
    font-weight: bolder;
}

@media (max-width: 575px) {
    .toplist .accordion-button {
        min-width: unset;
    }
}