.button {
    border: none;
    border-radius: var(--main-border-radius);
    padding: 0.65rem;
    background-image: var(--gradient);
    color: var(--main-text-color);
    font-weight: 700;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    line-height: initial;
    min-width: 125px;
    height: 38px;
}

.button:hover {
    color: var(--main-text-color);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.button.disable {
    opacity: 0.8;
    cursor: unset;
    user-select: none;
}

.discover-btn {
    transform: translateX(-50%);
}

.discover-btn:hover {
    transform: scale(0.95) translateX(calc(-50% - 5px));
}